<div class="min-w-full min-h-screen flex">
    <div class="w-full p-3 mt-3 mb-3 sm:mt-6 flex flex-col flex-wrap items-center">
        <h2>Registrate en nuestra aplicación</h2>
        <img src="assets/images/auth.png" width="200" alt="logo-auth" class="my-2 sm:mb-4 rounded-2xl">
        <form [formGroup]="form" class="flex flex-col flex-wrap w-full sm:w-11/12 md:w-9/12 lg:w-3/6" (ngSubmit)="onSubmit()" (keypress.enter)="onSubmit()">
            <app-custom-input 
                type="text"
                label="Nombre"
                icon="person_pin"
                [control]="form.controls.name"
                [errors]="errors.name">
            </app-custom-input>

            <app-custom-input 
                type="email"
                label="Correo"
                icon="email"
                [control]="form.controls.email"
                [errors]="errors.email">
            </app-custom-input>

            <app-custom-input
                type="password"
                label="Contraseña"
                icon="lock"
                [control]="form.controls.password"
                [errors]="errors.password">
            </app-custom-input>
    
            <button mat-fab extended type="submit" color="primary" class="mb-3" [disabled]="form.invalid">
                <span>Registrarme</span>
                <mat-icon fontIcon="open_in_new"></mat-icon>
            </button>

            <button mat-fab extended type="button" color="secondary" routerLink="/auth/login">
                <span class="color-primary">Ya tengo una cuenta</span>
                <mat-icon fontIcon="arrow_back" color="primary"></mat-icon>
            </button>
        </form>
    </div>
</div>