h2 {
    font-size: 1.5rem;
    text-align: center;
}

button {
    display: flex;
    align-items: center;
    gap: 10px;
}

button span {
    order: 1;
}

button mat-icon {
    order: 2;
}

.color-primary {
    color: #673ab7;
}