<mat-form-field class="w-full">
    <mat-label>{{ label }}</mat-label>
    <mat-select [formControl]="control" (selectionChange)="OnChangeSelect($event)">
        <mat-option>Ninguno</mat-option>
        @for (item of list; track $index) {
            <mat-option [value]="item.value">{{item.label}}</mat-option>
        }
    </mat-select>
    <mat-error *ngIf="control.hasError(getKeyError(control.errors)) && control.touched">
        {{ errors[nameError].message }}
    </mat-error>
</mat-form-field>